@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* scrollbar  */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
}

/* <!-------- Main page start --------> */
header {
    width: auto;
    height: auto;
}

.main {
    display: flex;
    /* border: 1px solid whitesmoke; */
    width: 1500px;
    height: 600px;
}

.main-text {
    /* border: 1px solid rgb(157, 12, 12); */
    /* margin: 77px 699px 383px 77px ; */
    width: 800px;
}

.main-text h1 {
    color: white;
    font-family: "Open Sans", serif;
    font-weight: 500;
    font-size: 90px;
    text-align: left;
    position: relative;
    top: 50px;
    left: 100px;
}

.title-pic {
    position: relative;
    top: 50px;
}

.name-text {
    position: relative;
    top: -100px;
    left: 100px;
    border: 1px solid white;
    border-radius: 50px;
    width: 350px;
}

.name-text p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 5px;
}

/* <!-------- Main page end --------> */
/* <!-- 2nd page starts here  --> */
.big-div {
    /* border: 1px solid white; */
    width: 1500px;
    height: 800px;
    display: flex;
    justify-content: space-between;
}

.parent-left {
    /* border: 1px solid blue; */
    width: 725px;
    height: 800px;
}

.parent-right {
    /* border: 1px solid yellow; */
    width: 725px;
    height: 800px;
    position: relative;
    left: 120px;
    align-content: center;
}

.child-up {
    /* border: 1px solid blue; */
    width: 725px;
    height: 400px;
}

.child-up h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 70px;
    text-align: center;
    position: relative;
    top: 35%;
    right: 50px;
}

.child-down {
    /* border: 1px solid yellow; */
    width: 725px;
    height: 400px;
}

.child-down p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22.7px;
    text-align: left;
    position: relative;
    top: 0px;
    left: 80px;
}

.line {
    border: 1px solid white;
    width: 120px;
    position: relative;
    top: 0%;
    left: 80px;
}

/* <!-- 2nd page ends here  --> */
/* <!-- 3rd page starts here  --> */
.page3rd {
    width: 1500px;
    height: 700px;
    /* border: 1px solid white; */
}

.one3 {
    width: auto;
    height: 150px;
    /* border: 1px solid green; */
}

.one3 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.one3 h1 {
    position: relative;
    top: -55px;
    right: 250px;
}

.two3 {
    width: auto;
    height: 550px;
    /* border: 1px solid yellow; */
}

.two3 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 20%;
    left: 50%;
}

/* <!-- 3rd page ends here  --> */


/* <!-- 4th page starts here  --> */
.page4th {
    width: 1500px;
    height: 700px;
    /* border: 1px solid white;  */
}

.one4 {
    width: auto;
    height: 150px;
    /* border: 1px solid green; */
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.one4 h1 {
    position: relative;
    top: -55px;
    right: 400px;
}

.two4 {
    width: auto;
    height: 550px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}

.two4-1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 50px;
}

/* <!-- 4th page ends here  --> */



/* <!-- 5th page starts here  --> */
.page5th {
    width: 1500px;
    height: 700px;
    /* border: 1px solid white;  */
    display: flex;
}

.one5 {
    width: 50%;
    height: 700px;
    /* border: 1px solid green;  */
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.one5 h3 {
    position: relative;
    top: 20%;
}

.two5 {
    align-content: center;
    width: 50%;
    height: 700px;
    /* border: 1px solid yellow; */
}

.two5 img {
    position: relative;
    left: 20%;
}

/* <!-- 5th page ends here  --> */




/* <!-- 6th page starts here  --> */
.page6th {
    width: 1500px;
    height: 700px;
    /* border: 1px solid white;  */
}

.one6 {
    width: auto;
    height: 150px;
    /* border: 1px solid green; */
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.one6 h1 {
    position: relative;
    top: 0px;
    right: 250px;
}

.two6 {
    width: auto;
    height: 550px;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.two6-1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 50px;
}

.two6-1 img {
    width: 300px;
    height: 300px;
}


/* <!-- 6th page ends here  --> */


/* <!-- 7th page starts here  --> */
.page7th {
    width: 1500px;
    height: 700px;
    /* border: 1px solid white; */
}

.one7 {
    width: 1500px;
    height: 30%;
    /* border: 1px solid green; */
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.one7 p{
    position: relative;
    left: 100px;
    bottom: 5px;
}
.two7 {
    display: flex;
    width: 1500px;
    height: 70%;
    /* border: 1px solid yellow; */
}
.two7-1{
    /* border: 1px solid blue; */
    height: 100%;
    width: 400px;
    color: white;
    text-align: left;
}
.two7-1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: 25%;
}
.two7-2{
    /* border: 1px solid red; */
    height: 100%;
    width: 700px;
    color: white;
    text-align: left;
}
.two7-2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: 20%;
}
.two7-3{
    /* border: 1px solid gray; */
    height: 100%;
    width: 400px;
    color: white;
    text-align: left;
}
.two7-3 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: 20%;
}
.collaborate{
    color: white;
    position: relative;
    top: 60%;
}

/* <!-- 7th page ends here  --> */